// utilities

.smt {
  margin-top: 0.5rem;
}

.mmt {
  margin-top: 1rem;
}

.lmt {
  margin-top: 1.5rem;
}

.smb {
  margin-bottom: 0.5rem;
}

.mmb {
  margin-bottom: 1rem;
}

.lmb {
  margin-bottom: 1.5rem;
}

