var emptyState = $('.highlights').find('p');
if (emptyState.length > 0) emptyState.remove();

$('.highlights').append('<%= j render(@highlight) %>');
$('.flash').html('<div class="alert alert-success" data-item-id="<%= @highlight.id %>">Highlight added! (click to view)</div>');

$('.alert').click(function() {
  const itemId = $(this)[0].dataset.itemId;
  const el = $(`#highlight_${itemId}`);

  $('html, body').animate({
    scrollTop: $(el).offset().top
  }, 'slow');
})
